.body {
  width: 800px;
}

.wrapper {
  padding: 20px;
}

p{
    font-size: 40px;
    font-weight: 700;
    color: rgb(74, 74, 74);
    padding-top: 40px;
}

.inputType {
  height: 40px;
  width: 280px;
  margin-right: 1rem;
  border-radius: 6px;
  border: solid rgb(130, 130, 130);
  margin-top: 100px;
  margin-bottom: 60px;
}

.buttonSubmit {
  background-color: rgb(90, 90, 203);
  width: 60px;
  height: 40px;
  border-radius: 6px;
  color: aliceblue;
  border: none;
  font-weight: 600;
}

.button {
  margin-top: 10px;
  margin-bottom: 8px;
  width: 100px;
  border-radius: 12px;
  border: none;
  background-color: rgb(113, 113, 113);
  font-weight: 600;
  color: white;
}

.wrapperTodoList {
  text-align: center;
  align-items: center;
  justify-content: center;
  border: rgb(142, 142, 141);
}

.todoList {
  border: solid rgb(134, 134, 134);
  height: auto;
  margin: auto;
  width: 500px;
}

.todoText{
  font-size: 16px;
  font-weight: 500;
  color: rgb(74, 74, 74);
}